<section class="card p-3 mt-2 mb-2 bg-light rounded-4">
  <div class="card-body text-black">
    <h1 class="display-4">About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti amet, odit suscipit reiciendis, eius unde quod
      blanditiis id recusandae, repellat quaerat. Aliquam fuga molestias autem! Mollitia at veniam dolorem doloremque?</p>
  </div>
</section>