<div class="container-fluid p-5 mb-4 bg-light rounded-4">
  <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
  <p class="load">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum optio nulla praesentium
    reiciendis consectetur. Est reiciendis illo, quibusdam quos dolorum a. Vitae inventore magnam deserunt, quas
    provident labore odio fugit.</p>
  <hr class="my-4" />
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, aliquam dolore, adipisci veniam nobis exercitationem
    excepturi aperiam minima, totam sit mollitia magni reiciendis! Et, dignissimos molestias. Quaerat blanditiis eum
    atque?</p>
  <a href="https://github.com/LuisHM5/" target="_blank" class="btn btn-primary">Github</a>
</div>